@import "./src/common/sass/variables";
.exampleBlock{
    min-height: 100vh;
    background-color: $secondbackgroundColor;
    margin: 20px 0;
    .exampleContainer{
        flex-direction:column;
        align-items:center;
        justify-content:flex-start;
        .exampls{
            margin-top: 20px;
            width: 100%;
            display: flex;
            justify-content: center;
            text-align: center;
            flex-wrap: wrap;
            box-sizing: border-box;
            @media screen and (min-width: 385px) {
                justify-content:space-around;
            }
        }
    }
}

